*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 62.5%;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "Halvetica_Neue";
  src: url("Halvetica_Neue.otf") format("otf");
}
